<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some title</title>
</head>
<body>
    <fielset>
        <legend>Registration form</legend>
        <form action="/" method="POST">
            <lable for="fname">Enter First Name: </lable>
            <input type="text" name="txtfname" required>
            <lable for="lname">Enter Last Name: </lable>
            <input type="text" name="txtlname" required>
            <input type="submit">
        </form>
    </fielset>
</body>
</html>